<new-project>
    <div class="input-group">
        <input type="text" name="title" class="form-control" placeholder="project title...">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" onclick={submit}>Create Project</button>
        </span>
    </div>

    <script>
        var tag = this;
        var issuetracker = opts.issuetracker;

        tag.submit = function() {
            if(tag.title.value) {
                issuetracker.addProject({title: tag.title.value});
                tag.title.value = '';
            }
        }

    </script>
</new-project>