<project>
    <!--<button type="button" class="list-group-item">{ opts.project.title }<span class="badge">{ getOpenIssues() }</span></button>-->

<button type="button" class="list-group-item active"><span class="badge">5</span>Project 1</button>
    <script>
        var tag = this;
        console.log('otps: ', tag.opts.project.title);
        tag.getOpenIssues = function() {
            var openIssueCount = 0;
            tag.collection.forEach(function(issue) {
                if(issue.done == false) {
                    openIssueCount++;
                }
            });
            return openIssueCount;
        }
    </script>
</project>