/*
=======
General
=======
*/

.vertical-align {
    display: flex;
    align-items: center;
}

/*
======
Header
======
*/

/*
=======
Content
=======
*/

/*
======
Footer
======
*/

footer a.footer-link {
    padding-right: 5px;
    border-right: 1px solid #337ab7;
}

footer a.footer-link:last-child {
    padding-right: 5px;
    border-right: none;
}